@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    display: block;
    width: 100vw;
    background-size: cover;
}

a{
    display: block;
    width: 100vw;
    background-color: rgb(75, 0, 0);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 0px 15px 0px;
    font-weight: bold;
}