@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100vw;
    height: 100vh;
}

body{
    background-image: url(../images/fundo-madeira.jpg);
    background-size: cover;
    background-position: top center;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/phone-wockup.png);
    background-size: cover;
    width: 349px;
    height: 700px;
}

#tela{
    margin-top: 18px;
    margin-left: 22px;
    width: 308px;
    height: 664px;
    border-radius: 40px;
}

#menu ul{
    text-align: right;
    padding-top: 30px;
}

#menu img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}

#menu img:hover{
    border: 2px solid rgba(255, 255, 255, 0.651);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.555);
    transition: transform 0.2s;
}
